@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right ,  rgb(173, 33, 122),rgb(226, 226, 205),pink);
  background-size: 200%;

}


.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}
h1:hover {
  color:  rgb(165, 31, 116);
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
 
  background:rgb(217, 9, 110);
  box-shadow: 10px 10px  rgb(165, 31, 116);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid  white;

  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}
.todo-input:hover {
  outline: none;
  background: none;
  border: 1px solid rgb(165, 31, 116);

  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background:  rgb(203, 203, 203);
  color: black;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}
.todo-btn:hover {
  background:  rgb(165, 31, 116);
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}


.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:  rgb(165, 31, 116);
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.Todo:hover{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(203, 203, 203);
  color:black;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.faTrashCan {
  margin-left: 0.75rem;
}

.incompleted {
  
  cursor: pointer;
}

.completed {
  
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 


